:root {
  --dark-blue: #30618c;
  --light-blue: #82b8d9;
  --green: #5e7332;
  --wheat: #bcb5a1;
  --brown: #4a3d35;
}

body {
  background-image: url("bog.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  display: grid;
  grid-template-columns: auto 680px auto;
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
  text-align: center;
  display: inline;
  margin: 0 auto;
  color: var(--wheat);
}
h1 {
  font-family: "Cinzel", serif;
  font-size: 98px;
  font-weight: 700;
  margin-bottom: 0;
  background: -webkit-linear-gradient( #bcb5a1, #5e7332, #4a3d35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 600px) {
    body{
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
    }
    h1{
        font-size: 30px;
    }
}