@font-face {
  font-family: 'Macabre';
  src:  url('Macabre/Macabre-Regular.woff2') format('woff2'),
        url('Macabre/Macabre-Regular.woff') format('woff');
}

:root {
  --light: #d9aa55;
  --medium: #bf863f;
  --dark: #a6652d;
  --orange: #bf5a36;
  --black: #0d0d0d;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  display: grid;
  grid-template-columns: auto 680px auto;
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
img {
  height: 300px;
  width: auto;
}

.wrapper {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
  display: inline;
  margin: 0 auto;
  color: var(--orange);
}
h1 {
  font-family: 'Macabre', serif;
  font-size: 98px;
  font-weight: 700;
  margin: 0;
  background: -webkit-linear-gradient(#d9aa55, #bf5a36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
}
a {
  text-decoration: none;
}